---
title: pxf cluster
---

Manage the PXF configuration and the PXF service instance on all Greenplum Database hosts.

## <a id="topic1__section2"></a>Synopsis

``` pre
pxf cluster <command>
```

where `<command>` is:

``` pre
help
init
reset
start
status
stop
sync
```

## <a id="topic1__section3"></a>Description

The `pxf cluster` utility command manages PXF on the master, standby master, and on all Greenplum Database segment hosts. You can use the utility to:

- Initialize PXF configuration on all hosts in the Greenplum Database cluster.
- Reset the PXF service instance on all hosts to its uninitialized state.
- Start and stop the PXF service instance on all segment hosts.
- Display the status of the PXF service instance on all segment hosts.
- Synchronize the PXF configuration from the Greenplum Database master host to the standby master and to all segment hosts.

`pxf cluster` requires a running Greenplum Database cluster. You must run the utility on the Greenplum Database master host.

(If you want to manage the PXF service instance on a specific segment host, use the `pxf` utility. See [`pxf`](pxf.html#topic1).)

## <a id="commands"></a>Commands

<dt>help</dt>
<dd>Display the `pxf cluster` help message and then exit.</dd>

<dt>init</dt>
<dd>Initialize the PXF service instance on the master, standby master, and on all segment hosts. When you initialize PXF across your Greenplum Database cluster, you must identify the PXF user configuration directory via an environment variable named `$PXF_CONF`. If you do not set `$PXF_CONF` prior to initializing PXF, PXF returns an error.</dd>

<dt>reset</dt>
<dd>Reset the PXF service instance on the master, standby master, and on all segment hosts. Resetting removes PXF runtime files and directories, and returns PXF to an uninitialized state. You must stop the PXF service instance running on each segment host before you reset PXF in your Greenplum Database cluster.</dd>

<dt>start</dt>
<dd>Start the PXF service instance on all segment hosts.</dd>

<dt>status  </dt>
<dd>Display the status of the PXF service instance on all segment hosts.</dd>

<dt>stop  </dt>
<dd>Stop the PXF service instance on all segment hosts.</dd>

<dt>sync  </dt>
<dd>Synchronize the PXF configuration from the master to the standby master and to all Greenplum Database segment hosts. If you have updated the PXF user configuration or added JAR files, you must also restart PXF after you synchronize the PXF configuration.</dd>

## <a id="topic1__section5"></a>Examples

Stop the PXF service instance on all segment hosts:

``` shell
$ $GPHOME/pxf/bin/pxf cluster stop
```

## <a id="topic1__section6"></a>See Also

[`pxf`](pxf.html#topic1)
