---
title: pxf
---

Manage the PXF configuration and the PXF service instance on the local Greenplum Database host.

## <a id="topic1__section2"></a>Synopsis

``` pre
pxf <command> [<option>]
```

where \<command\> is:

``` pre
cluster
help
init
reset
restart
start
status
stop
sync
version
```

## <a id="topic1__section3"></a>Description

The `pxf` utility manages the PXF configuration and the PXF service instance on the local Greenplum Database host.

You can initialize or reset PXF on the master, master standby, or a specific segment host. You can also synchronize the PXF configuration from the master to these hosts.

You can start, stop, or restart the PXF service instance on a specific segment host, or display the status of the PXF service instance running on a segment host.

(Use the [`pxf cluster`](pxf-cluster.html#topic1) command to initialize or reset PXF on all hosts, synchronize the PXF configuration to the Greenplum Database cluster, or to start, stop, or display the status of the PXF service instance on all segment hosts in the cluster.)

## <a id="commands"></a>Commands

<dt>cluster</dt>
<dd>Manage the PXF configuration and the PXF service instance on all Greenplum Database hosts. See [`pxf cluster`](pxf-cluster.html#topic1).</dd>

<dt>help</dt>
<dd>Display the `pxf` management utility help message and then exit.</dd>

<dt>init</dt>
<dd>Initialize the PXF service instance on the host. When you initialize PXF, you must identify the PXF user configuration directory via an environment variable named `$PXF_CONF`. If you do not set `$PXF_CONF` prior to initializing PXF, PXF prompts you to accept or decline the default user configuration directory, `$HOME/pxf`, during the initialization process. See [Options](pxf.html#options).</dd>

<dt>reset</dt>
<dd>Reset the PXF service instance running on the host. Resetting removes PXF runtime files and directories, and returns PXF to an uninitialized state. You must stop the PXF service instance running on a segment host before you reset PXF on the host.</dd>

<dt>restart</dt>
<dd>Restart the PXF service instance running on the segment host.</dd>

<dt>start</dt>
<dd>Start the PXF service instance on the segment host.</dd>

<dt>status</dt>
<dd>Display the status of the PXF service instance running on the segment host.</dd>

<dt>stop  </dt>
<dd>Stop the PXF service instance running on the segment host.</dd>

<dt>sync  </dt>
<dd>Synchronize the PXF configuration from the master to a specific Greenplum Database standby master or segment host. You must run `pxf sync` on the master host. See [Options](pxf.html#options).</dd>

<dt>version  </dt>
<dd>Display the PXF version and then exit.</dd>

## <a id="options"></a>Options

The `pxf init` command takes the following option:

<dt>-y </dt>
<dd>Do not prompt, use the default `$PXF_CONF` directory location if the environment variable is not set.</dd>

The `pxf reset` command takes the following option:

<dt>-f | --force </dt>
<dd>Do not prompt before resetting the PXF service instance; reset without user interaction.</dd>

The `pxf sync` command, run on the Greenplum Database master host, takes the following option:

<dt>\<gphost\> </dt>
<dd>The Greenplum Database host to which to synchronize the PXF configuration. `<gphost>` must identify the standy master host or a segment host.</dd>

## <a id="topic1__section5"></a>Examples

Start the PXF service instance on the local segment host:

``` shell
$ $GPHOME/pxf/bin/pxf start
```

## <a id="topic1__section6"></a>See Also

[`pxf cluster`](pxf-cluster.html#topic1)
