---
title: About the PXF Installation and Configuration Directories
---

PXF is installed on your master and segment nodes when you install Greenplum Database. 

## <a id="installed"></a>PXF Installation Directories

The following PXF files and directories are installed in your Greenplum Database cluster when you install Greenplum. These files/directories are relative to the PXF installation directory `$GPHOME/pxf`:

| Directory | Description                                                                                                                                                                                                                                |
|--------------------------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| apache&#8209;tomcat/     | The PXF Tomcat directory.  |
| bin/                | The PXF script and executable directory.                                                                                                                                                                                                                       |
| conf/                | The PXF internal configuration directory. This directory contains the `pxf-env-default.sh` and `pxf-profiles-default.xml` configuration files. After initializing PXF, this directory will also include the `pxf-private.classpath` file. |
| lib/                 | The PXF library directory.                                                                                                                                                                                                                       |
| templates/                | Configuration templates for PXF. |


## <a id="runtime"></a>PXF Runtime Directories

During initialization and startup, PXF creates the following internal directories in `$GPHOME/pxf`:


| Directory | Description                                                                                                                                                                                                                                |
|--------------------------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| pxf&#8209;service/         | After initializing PXF, the PXF service instance directory.                                                                                                                                                                                                              |
| run/         | After starting PXF, the PXF run directory. Includes a PXF catalina process id file.                                                                                                                                                                                                              |

## <a id="usercfg"></a>PXF User Configuration Directories

Also during initialization, PXF populates a user configuration directory that you choose (`$PXF_CONF`) with the following subdirectories and template files:

| Directory | Description   |
|-----------|---------------|
| conf/     | The location of user-customizable PXF configuration files: `pxf-env.sh`, `pxf-log4j.properties`, and `pxf-profiles.xml`. |
| keytabs/  | The default location for the PXF service Kerberos principal keytab file.  |
| lib/     | The default PXF user runtime library directory. |
| logs/     | The PXF runtime log file directory. Includes `pxf-service.log` and the Tomcat-related log `catalina.out`. The `logs/` directory and log files are readable only by the `gpadmin` user. |
| servers/  | The server configuration directory; each subdirectory identifies the name of a server. The default server is named `default`. The Greenplum Database administrator may configure other servers. |
| templates/  | The configuration directory for connector server template files. |

Refer to [Initializing PXF](init_pxf.html) and [Starting PXF](cfginitstart_pxf.html#start_pxf) for detailed information about the PXF initialization and startup commands and procedures.
