---
title: Configuring, Initializing, and Starting PXF
---

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

The PXF Extension Framework is composed of a Greenplum Database protocol and a Java service that map an external data source to a table definition. This topic describes how to configure, initialize, and start the PXF Extension Framework. 

## <a id="install_info"></a>Installing PXF

The PXF Extension Framework is installed on your master node when you install Greenplum Database. You install PXF on your Greenplum Database segment hosts when you invoke the `gpseginstall` command.

You must explicitly initialize and start PXF before you can use the framework. You must also explicitly enable PXF in each database in which you plan to use it.

### <a id="pxf-install-dirs"></a>PXF Install Files/Directories

The following PXF files and directories are installed in your Greenplum Database cluster. These files/directories are relative to `$GPHOME`:

| Directory                      | Description                                                                                                                                                                                                                                |
|--------------------------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| `pxf`                 | The PXF installation directory.  |
| `pxf/apache-tomcat`      | The PXF tomcat directory.  |
| `pxf/bin`                 | The PXF script and executable directory.                                                                                                                                                                                                                       |
| `pxf/conf`                | The PXF configuration directory. This directory contains the `pxf-env.sh`, `pxf-public.classpath`, `pxf-private.classpath` and `pxf-profiles.xml` configuration files. |
| `pxf/conf-templates`                | Configuration templates for PXF. |
| `pxf/lib`                 | The PXF library directory.                                                                                                                                                                                                                       |
| `pxf/logs`, | The PXF log file directory. Includes `pxf-service.log` and Tomcat-related logs including `catalina.out`. The log directory and log files are readable only by the `gpadmin` user.
| `pxf/pxf-service`         | After initializing PXF, the PXF service instance directory.                                                                                                                                                                                                              |
| `pxf/run`         | After starting PXF, the PXF run directory. Includes a PXF catalina process id file.                                                                                                                                                                                                              |
| `pxf/tomcat-templates` | Tomcat templates for PXF.                                                                          |


## <a id="init_pxf"></a>Initializing PXF

You must explicitly initialize the PXF service instance. This one-time initialization creates the PXF service web application. It also updates PXF configuration files to include information specific to your Hadoop cluster configuration.

### <a id="init-pxf-prereq"></a>Prerequisites

Before initializing PXF in your Greenplum Database cluster, ensure that you have:

- Installed and configured the required Hadoop clients on each Greenplum Database segment host. Refer to [Installing and Configuring Hadoop Clients for PXF](client_instcfg.html) for instructions.
- Granted the `gpadmin` operating system user read permission on the relevant portions of your HDFS file system.
 
### <a id="init-pxf-steps"></a>Procedure

Perform the following procedure to initialize PXF on each segment host in your Greenplum Database cluster. You will use the `gpssh` utility to run a command on multiple hosts.

1. Log in to the Greenplum Database master node and set up your environment:

    ``` shell
    $ ssh gpadmin@<gpmaster>
    gpadmin@gpmaster$ . /usr/local/greenplum-db/greenplum_path.sh
    ```

2. Create a text file that lists your Greenplum Database segment hosts, one host name per line. Ensure that there are no blank lines or extra spaces in the file. For example, a file named `seghostfile` may include:

    ``` pre
    seghost1
    seghost2
    seghost3
    ```

3. Install the `unzip` package on each segment host:

    ``` shell
    gpadmin@gpmaster$ gpssh -e -v -f seghostfile "sudo yum -y install unzip"
    ```

4. Run the `pxf init` command to initialize the PXF service on each segment host. For example:

    ``` shell
    gpadmin@gpmaster$ gpssh -e -v -f seghostfile "/usr/local/greenplum-db/pxf/bin/pxf init"
    ```
    
    The `init` command creates and initializes the PXF web application. It also updates the `pxf-private.classpath` file to include entries for your Hadoop distribution JAR files.


## <a id="start_pxf"></a>Starting PXF

After initializing PXF, you must explicitly start PXF on each segment host in your Greenplum Database cluster. The PXF service, once started, runs as the `gpadmin` user on default port 51200. Only the `gpadmin` user can start and stop the PXF service.

Perform the following procedure to start PXF on each segment host in your Greenplum Database cluster.  You will use the `gpssh` command and a `seghostfile` to run the command on multiple hosts.

1. Log in to the Greenplum Database master node and set up your environment:

    ``` shell
    $ ssh gpadmin@<gpmaster>
    gpadmin@gpmaster$ . /usr/local/greenplum-db/greenplum_path.sh
    ```

3. Run the `pxf start` command to start PXF on each segment host. For example:

    ```shell
    $ gpadmin@gpmaster$ gpssh -e -v -f seghostfile "/usr/local/greenplum-db/pxf/bin/pxf start"
    ```


## <a id="pxf_svc_mgmt"></a>PXF Service Management

The `pxf` command supports `stop`, `restart`, and `status` operations in addition to `init` and `start`. These operations run locally. That is, if you want to start or stop the PXF agent on a specific segment host, you can log in to the host and run the command. If you want to start or stop the PXF agent on multiple segment hosts, use the `gpssh` utility as shown above, or individually log in to each segment host and run the command.

**Note**: If you update your Hadoop configuration while the PXF service is running, you must copy any updated configuration files to each Greenplum Database segment host and restart PXF on each host.
