---
title: Upgrading PXF When You Upgrade Greenplum 6
---

<div class="note"> Starting in Greenplum Database version 6.19.0, the PXF software is no longer bundled in the Greenplum Server distribution. You may be required to download and install the PXF <code>rpm</code> or <code>deb</code> package to use PXF in your Greenplum cluster as described in the procedures below.</div>

If you are using PXF in your current Greenplum Database 6.x installation, you must perform some PXF upgrade actions when you upgrade to a newer version of Greenplum Database 6.x. This procedure uses *PXF.from* to refer to your currently-installed PXF version.

**Note**: if you are planning to upgrade a PXF `rpm` or `deb` installation, refer to the [PXF upgrade documentation](../../pxf/latest/upgrade_pxf_rpm.html).

The PXF upgrade procedure has two parts. You perform one procedure before, and one procedure after, you upgrade to a new version of Greenplum Database:

-   [Step 1: PXF Pre-Upgrade Actions](#pxfpre)
-   Upgrade to a new Greenplum Database version
-   [Step 2: Upgrading PXF](#pxfup)


## <a id="pxfpre"></a>Step 1: PXF Pre-Upgrade Actions

Perform this procedure before you upgrade to a new version of Greenplum Database:

1. Log in to the Greenplum Database master node. For example:

    ``` shell
    $ ssh gpadmin@<gpmaster>
    ```

2. Identify and note the *PXF.from* version number. For example:

    ``` shell
    gpadmin@gpmaster$ pxf version
    ```

2. Determine if *PXF.from* is a PXF `rpm` or `deb` installation (`/usr/local/pxf-gp<greenplum-major-version>`), or if you are running *PXF.from* from the Greenplum Database server installation (`$GPHOME/pxf`), and note the answer.

3. If the *PXF.from* version is 5.x, identify the file system location of the `$PXF_CONF` setting in your PXF 5.x PXF installation; you might need this later. If you are unsure of the location, you can find the value in `pxf-env-default.sh`.

2. Stop PXF on each segment host as described in [Stopping PXF](../../pxf/5-15/cfginitstart_pxf.html#stop_pxf).

3. Upgrade to the new version of Greenplum Database and then continue your PXF upgrade with [Step 2: Upgrading PXF](#pxfup).


## <a id="pxfup"></a>Step 2: Registering or Upgrading PXF

After you upgrade to the new version of Greenplum Database, perform the following procedure to configure the PXF software; you may be required to install the standalone PXF distribution:

1. Log in to the Greenplum Database master node. For example:

    ``` shell
    $ ssh gpadmin@<gpmaster>
    ```

2. If you previously installed the PXF `rpm` or `deb` on your Greenplum 6 hosts, you must register it to continue using PXF:
   
    1. Copy the PXF extension files from the PXF installation directory to the new Greenplum 6 install directory:

        ``` shell
        gpadmin@gpmaster pxf cluster register
        ```

    2. Start PXF on each segment host as described in [Starting PXF](../../pxf/latest/cfginitstart_pxf.html#start_pxf).

    3. Skip the following steps and exit this procedure.

1. Starting in Greenplum Database version 6.19.0, PXF is removed from the Greenplum Server distribution. You must download and install the standalone PXF `rpm` or `deb` package as described in [Installing PXF](../../pxf/latest/installing_pxf.html). **Install the same PXF 5.x version as *PXF.from*.**

2. Initialize PXF on each segment host as described in [Initializing PXF](../../pxf/5-15/init_pxf.html). You may choose to use your existing `$PXF_CONF` for the initialization.

3. Synchronize the PXF configuration from the master host to the standby master and each Greenplum Database segment host. For example:

    ``` shell
    gpadmin@gpmaster$ $GPHOME/pxf/bin/pxf cluster sync
    ```
 
4. Start PXF on each segment host:

    ``` shell
    gpadmin@gpmaster$ $GPHOME/pxf/bin/pxf cluster start
    ```

Your Greenplum Database cluster is now running the same version of PXF, but running it from the PXF installation directory (`/usr/local/pxf-gp<greenplum-major-version>`). Should you wish to upgrade PXF in the future, consult the [PXF upgrade documentation](../../pxf/latest/upgrade_landing.html).

