---
Checks: |
  clang-diagnostic-*,
  clang-analyzer-*,
  -*,
  modernize-use-override,
  modernize-use-equals-default,
  modernize-use-equals-delete,
  modernize-use-nullptr,
  modernize-use-default-member-init,
  modernize-use-bool-literals,
  modernize-use-using,
  readability-braces-around-statements,
  readability-make-member-function-const,
  readability-non-const-parameter,
  readability-static-accessed-through-instance,

WarningsAsErrors: '*'
HeaderFilterRegex: 'gpdbcost|gpopt|gpos|naucrates'
AnalyzeTemporaryDtors: false
FormatStyle:     file
User:            pivotal
CheckOptions:
  - key:             modernize-use-override.OverrideSpelling
    value:           override
  - key:             modernize-use-override.AllowOverrideAndFinal
    value:           'false'
  - key:             modernize-use-equals-default.IgnoreMacros
    value:           'true'
  - key:             modernize-use-override.FinalSpelling
    value:           final
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
  - key:             modernize-use-equals-delete.IgnoreMacros
    value:           'true'
  - key:             modernize-use-override.IgnoreDestructors
    value:           'false'
...

