root = true

[*.[chy]]
indent_style = tab
indent_size = 4

[{GNUmakefile,Makefile}*]
indent_style = tab
indent_size = 4

[*.mk]
indent_style = tab
indent_size = 4

[*.py]
indent_style = space
indent_size = 4

