[submodule "gpAux/extensions/pgbouncer/source"]
	path = gpAux/extensions/pgbouncer/source
	url = https://github.com/greenplum-db/pgbouncer.git
	branch = master
[submodule "gpAux/extensions/postgis-2.0.3/source"]
	path = gpAux/extensions/postgis-2.0.3/source
	url = https://github.com/greenplum-db/postgis.git
	branch = master
[submodule "gpMgmt/bin/pythonSrc/ext"]
	path = gpMgmt/bin/pythonSrc/ext
	url = https://github.com/greenplum-db/pythonsrc-ext.git
	branch = master
[submodule "src/bin/gpfdist/ext"]
	path = src/bin/gpfdist/ext
	url = https://github.com/greenplum-db/gpfdist-ext.git
	branch = master
[submodule "gpAux/extensions/googletest"]
	path = gpAux/extensions/googletest
	url = https://github.com/google/googletest.git
