# Global excludes across all subdirectories
*.o
*.obj
*.so
*.so.[0-9]
*.so.[0-9].[0-9]
*.sl
*.sl.[0-9]
*.sl.[0-9].[0-9]
*.swp
*.dylib
*.dll
*.exp
*.a
*.mo
*.pot
objfiles.txt
.deps/
*.log
*.gcno
*.gcda
*.gcov
*.gcov.out
lcov.info
coverage/
*.vcproj
*.vcxproj
win32ver.rc
*.exe
lib*dll.defautom4te.cache
**/test/*.t
**/tags
*.pyc
**/vagrant-local.yml
a.out.dSYM
confdefs.h
conftest.c
conftest.err
config.cache
config.status.lineno
autom4te.cache
configure.lineno
Debug
Release
pgsql.sln
cscope.*
build.sh
.cproject
.project
.settings/
.vscode/
GPATH
GRTAGS
GTAGS
lib*dll.def
lib*.pc

# Local excludes in root directory
/GNUmakefile
/config.cache
/config.log
/config.status
/VERSION
/pgsql.sln
/pgsql.sln.cache
/Debug/
/Release/
/CMakeLists.txt
/compile_commands.json
/tmp_install/
