ARRAY_NAME="Pivotal"
SEG_PREFIX=gpseg
PORT_BASE=40000
declare -a DATA_DIRECTORY=(%DATA_DIR%/primary)
MASTER_HOSTNAME=%HOSTNAME%
MASTER_DIRECTORY=%DATA_DIR%/master
MASTER_PORT=5432
TRUSTED_SHELL=ssh
CHECK_POINT_SEGMENTS=8
ENCODING=UNICODE
DATABASE_NAME=gptest
MACHINE_LIST_FILE=%HOSTFILE%