regression.diffs
regression.out
*/dummy.sql
*/dummy.out
sql/ao_upgrade.sql
expected/ao_upgrade.out
expected/ao_upgrade_optimizer.out
sql/external_table.sql
expected/external_table.out
sql/fts_manual_probe.sql
expected/fts_manual_probe.out
sql/workfile_mgr_test.sql
expected/workfile_mgr_test.out
expected/idle_gang_cleaner.out
sql/idle_gang_cleaner.sql

-- ignore generated pg_basebackup tests
/sql/pg_basebackup*.sql
/expected/pg_basebackup*.out

# Local binaries and symbolic links
/extended_protocol_test
/pg_isolation2_regress
/test_parallel_retrieve_cursor_extended_query
/test_parallel_retrieve_cursor_extended_query_error
/atmsort.pm
/explain.pm
/GPTest.pm
/gpdiff.pl
/gpstringsubs.pl
/data

# Generated subdirectories
/results/
