regression.diffs
regression.out
*/dummy.sql
*/dummy.out

# Local binaries and symbolic links
/extended_protocol_test
/pg_isolation2_regress
/test_parallel_retrieve_cursor_extended_query
/test_parallel_retrieve_cursor_extended_query_error
/atmsort.pm
/explain.pm
/GPTest.pm
/gpdiff.pl
/gpstringsubs.pl
/data

# Generated subdirectories
/results/
