.autotools
.cdtproject
.cproject
.project
.pydevproject
.settings
.timestamp
BUILD_LABEL
Build
Debug
Linux GCC
Linux\ GCC
Release
VERSION
curl
curl-7.17.1
env.sh
ext
krb5
krb5-1.6.2
openldap
openldap-2.3.38
openssl
openssl-0.9.8g

*.bin
*.gz
!extensions/*.gz
!gpMgmt/*.gz
*.tar
.zip
!greenplum/extensions/gpfdist/ext/zlib-1.2.3.zip

!expected/*.out
