/exports.list
/libpq.rc
/blibpqdll.def
/libpqddll.def
/libpqdll.def
/inet_aton.c
/noblock.c
/pgstrcasecmp.c
/strlcpy.c
/thread.c
/md5.c
/ip.c
/encnames.c
/wchar.c

getpeereid.c
inet_net_ntop.c
libpq.a
libpq.so
libpq.so.5
libpq.so.5.0
lipq-dist.rc
libpq.so.5.2
