# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.t

# Mac Finder cache
.DS_Store

# Editor backup files
*~
cscope.*
cctree.*

# CMake files
CMakeFiles/
CMakeCache.txt
CTestTestfile.cmake
cmake_install.cmake
install_manifest.txt
Makefile
Testing
