<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile"> Doc Index</a>
  <div class="nav-content">
    <ul>
      <li>
        <a href="/7-0/homenav.html">Tanzu Greenplum® 7.0 Beta Documentation</a>
      </li>
      <li class="has_submenu">
        <a href="/7-0/best_practices/intro.html">Greenplum Best Practices</a>
        <ul>
          <li>
          <a href="/7-0/best_practices/summary.html">Best Practices Summary</a>
          </li>
          <li>
          <a href="/7-0/best_practices/sysconfig.html">System Configuration</a>
          </li>
          <li>
          <a href="/7-0/best_practices/schema.html">Schema Design</a>
          </li>
          <li>
          <a href="/7-0/best_practices/resgroups.html">Memory and Resource Management with Resource Groups</a>
          </li>
          <li>
          <a href="/7-0/best_practices/workloads.html">Memory and Resource Management with Resource Queues</a>
          </li>
          <li class="has_submenu">
            <a href="/7-0/best_practices/maintenance.html">System Monitoring and Maintenance</a>
            <ul>
              <li>
                <a href="/7-0/best_practices/analyze.html">Updating Statistics with ANALYZE</a>
              </li>
              <li>
                <a href="/7-0/best_practices/bloat.html">Managing Bloat in a Database</a>
              </li>
              <li>
                <a href="/7-0/best_practices/logfiles.html">Monitoring Greenplum Database Log Files</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/7-0/best_practices/data_loading.html">Loading Data</a>
          </li>
          <li>
            <a href="/7-0/best_practices/security.html">Security</a>
          </li>
          <li>
            <a href="/7-0/best_practices/encryption.html">Encrypting Data and Database Connections</a>
          </li>
          <li>
            <a href="/7-0/best_practices/tuning_queries.html">Tuning SQL Queries</a>
          </li>
          <li>
            <a href="/7-0/best_practices/ha.html">High Availability</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>