<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">  Doc Index</a>
  <div class="nav-content">
    <ul>
      <li>
        <a href="/7-0/homenav.html">Greenplum Database&reg; 7.0 Beta Documentation</a>
      </li>
      <li>
        <a href="/7-0/cloud/gpdb-cloud-tech-rec.html" format="markdown">Greenplum Database in the Cloud: Technical Recommendations</a>
      </li>
    </ul>
  </div>
</div>
<!--end of sub-nav-->
