<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">  Doc Index</a>
  <div class="nav-content">
    <ul>
      <li>
        <a href="/docs/600/common/gpdb-features.html">Greenplum Database 6.0.0 Documentation</a>
      </li>
      <li>
         <a href="/docs/600/admin_guide/admin_guide.html">Administrator Guide</a>
      </li>
      <li>
        <a href="/docs/600/security-guide/topics/preface.html">Security Configuration Guide</a>
      </li>
      <li>
        <a href="/docs/600/best_practices/intro.html">Best Practices Guide</a>
      </li>
      <li>
         <a href="/docs/600/utility_guide/utility_guide.html">Utility Guide</a>
      </li>
      <li>
         <a href="/docs/600/ref_guide/ref_guide.html">Reference Guide</a>
      </li>
    </ul>
  </div>
</div>
<!--end of sub-nav-->
