<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile"> Doc Index</a>
  <div class="nav-content">
    <ul>
      <li>
        <a href="/7-0/homenav.html">Tanzu Greenplum® 7.0 Beta Documentation</a>
      </li>
      <li class="has_submenu">
        <a href="/7-0/install_guide/install_guide.html">Installation Guide</a>
        <ul>
          <li>
            <a href="/7-0/install_guide/platform-requirements.html">Platform Requirements</a>
          </li>
          <li class="has_submenu">
            <a href="/7-0/install_guide/preinstall_concepts.html">Introduction to Greenplum</a>
            <ul>
              <li>
                <a href="/7-0/install_guide/preinstall_concepts.html#topic2">The Greenplum Coordinator</a>
              </li>
              <li>
                <a href="/7-0/install_guide/preinstall_concepts.html#topic4">The Segments</a>
              </li>
              <li>
                <a href="/7-0/install_guide/preinstall_concepts.html#topic9">The Interconnect</a>
              </li>
              <li>
                <a href="/7-0/install_guide/preinstall_concepts.html#topic13">ETL Hosts for Data Loading</a>
              </li>
              <li>
                <a href="/7-0/install_guide/preinstall_concepts.html#topic_e5t_whm_kbb">Tanzu Greenplum Performance
                  Monitoring</a>
              </li>
            </ul>
          </li>
          <li class="has_submenu">
            <a href="/7-0/install_guide/capacity_planning.html">Estimating Storage Capacity</a>
            <ul>
              <li>
                <a href="/7-0/install_guide/capacity_planning.html#topic2">Calculating Usable Disk Capacity</a>
              </li>
              <li>
                <a href="/7-0/install_guide/capacity_planning.html#topic3">Calculating User Data Size</a>
              </li>
              <li>
                <a href="/7-0/install_guide/capacity_planning.html#topic4">Calculating Space Requirements for Metadata
                  and Logs</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/7-0/install_guide/prep_os.html">Configuring Your Systems</a>
          </li>
          <li>
            <a href="/7-0/install_guide/install_gpdb.html">Installing the Greenplum Database Software</a>
          </li>
          <li>
            <a href="/7-0/install_guide/verify_sw.html">Verifying a Greenplum Database Software Download</a>
          </li>
          <li>
            <a href="/7-0/install_guide/create_data_dirs.html">Creating the Data Storage Areas</a>
          </li>
          <li class="has_submenu">
            <a href="/7-0/install_guide/validate.html">Validating Your Systems</a>
            <ul>
              <li>
                <a href="/7-0/install_guide/validate.html#topic4">Validating Network Performance</a>
              </li>
              <li>
                <a href="/7-0/install_guide/validate.html#topic5">Validating Disk I&#x2F;O and Memory Bandwidth</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/7-0/install_guide/init_gpdb.html">Initializing a Greenplum Database System</a>
          </li>
          <li class="has_submenu">
            <a href="/7-0/install_guide/data_sci_pkgs.html">Installing Optional Extensions</a>
            <ul>
              <li>
                <a href="/7-0/install_guide/install_extensions.html">Procedural Language, Machine Learning, and
                  Geospatial Extensions</a>
              </li>
              <li>
                <a href="/7-0/install_guide/install_python_dsmod.html">Python Data Science Module Package</a>
              </li>
              <li>
                <a href="/7-0/install_guide/install_r_dslib.html">R Data Science Library Package</a>
              </li>
              <li>
                <a href="/7-0/install_guide/install_pxf.html">Greenplum Platform Extension Framework (PXF)</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/7-0/install_guide/install_modules.html">Installing Additional Supplied Modules</a>
          </li>
          <li>
            <a href="/7-0/install_guide/localization.html">Configuring Timezone and Localization Settings</a>
          </li>
          <li class="has_submenu">
            <a href="/7-0/install_guide/upgrade_intro.html">Upgrading to Greenplum 6</a>
            <ul>
              <li>
                <a href="/7-0/install_guide/upgrading.html">Upgrading from an Earlier Greenplum 6 Release</a>
              </li>
              <li>
                <a href="/7-0/install_guide/../pxf/pxf_upgrade_migration.html">PXF Upgrade and Migration</a>
              </li>
              <li>
                <a href="/7-0/install_guide/migrate.html">Migrating Data from Greenplum 4.3 or 5 to Greenplum 6</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/7-0/install_guide/enable_iptables.html">Enabling iptables (Optional)</a>
          </li>
          <li>
            <a href="/7-0/install_guide/apx_mgmt_utils.html">Installation Management Utilities</a>
          </li>
          <li class="has_submenu">
            <a href="/7-0/install_guide/env_var_ref.html">Greenplum Environment Variables</a>
            <ul>
              <li>
                <a href="/7-0/install_guide/env_var_ref.html#topic2">Required Environment Variables</a>
              </li>
              <li>
                <a href="/7-0/install_guide/env_var_ref.html#topic7">Optional Environment Variables</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/7-0/install_guide/ansible-example.html">Example Ansible Playbook</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>