<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">  Doc Index</a>
  <div class="nav-content">
    <ul>
      <li>
        <a href="/docs/600/homenav.html">Greenplum Database Docs Home</a>
      </li>
      <li class="has_submenu">
        <a href="/docs/600/pxf/overview_pxf.html" format="markdown">PXF Extension Framework</a>
        <ul>
          <li>
            <a href="/docs/600/pxf/intro_pxf.html" format="markdown">PXF Architecture</a>
          </li>
          <li class="has_submenu">
            <a href="/docs/600/pxf/instcfg_pxf.html" format="markdown">Installing and Configuring PXF</a>
            <ul>
              <li>
                <a href="/docs/600/pxf/client_instcfg.html" format="markdown">Installing and Configuring Clients for PXF</a>
              </li>
              <li>
                <a href="/docs/600/pxf/cfginitstart_pxf.html" format="markdown">Configuring, Initializing, and Starting PXF</a>
              </li>
            </ul>
         <li>
           <a href="/docs/600/pxf/using_pxf.html" format="markdown">Using PXF</a>
        </li>
        <li class="has_submenu">
           <a href="/docs/600/pxf/hdfs_read_pxf.html" format="markdown">Reading HDFS File Data with PXF</a>
            <ul>
         <li>
           <a href="/docs/600/pxf/hdfs_read_pxf.html#profile_hdfstextsimple" format="markdown">Reading Text Files</a>
        </li>
         <li>
           <a href="/docs/600/pxf/hdfs_read_pxf.html#profile_hdfstextmulti" format="markdown">Reading Text Files with Quoted Linefeeds</a>
        </li>
         <li>
           <a href="/docs/600/pxf/hdfs_read_pxf.html#profile_hdfsavro" format="markdown">Reading Avro Files</a>
        </li>
            </ul>
        </li>
        <li>
           <a href="/docs/600/pxf/hive_pxf.html" format="markdown">Accessing Hive Table Data with PXF</a>
        </li>
        <li>
           <a href="/docs/600/pxf/troubleshooting_pxf.html" format="markdown">Troubleshooting PXF</a>
        </li>
        <li>
           <a href="/docs/600/admin_guide/external/pxf-overview.html" format="dita" scope="peer">Back to the Administrator Guide</a>
        </li>
      </ul>
      </ul>
    </li>
    </ul>
  </div>
</div>
<!--end of sub-nav-->
