<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">  Doc Index</a>
  <div class="nav-content">
    <ul>
      <li>
        <a href="/7-0/homenav.html">Greenplum Database&reg; 7.0 Beta Documentation</a>
      </li>
      <li><a href="/7-0/pxf/overview_pxf.html" format="markdown">Greenplum Platform Extension Framework (PXF)</a></li>
      <li class="has_submenu">
        <a href="/7-0/pxf/intro_pxf.html" format="markdown">Introduction to PXF</a>
        <ul>
          <li><a href="/7-0/pxf/filter_push.html" format="markdown">About PXF Filter Pushdown</a></li>
          <li><a href="/7-0/pxf/col_project.html" format="markdown">About Column Projection in PXF</a></li>
        </ul>
      </li>
      <li class="has_submenu">
        <span>Administering PXF</span>
        <ul>
          <li class="has_submenu">
            <a href="/7-0/pxf/instcfg_pxf.html" format="markdown">Configuring PXF</a>
            <ul>
              <li><a href="/7-0/pxf/about_pxf_dir.html" format="markdown">About the PXF Installation and Configuration Directories</a></li>
              <li><a href="/7-0/pxf/install_java.html" format="markdown">Installing Java for PXF</a></li>
              <li><a href="/7-0/pxf/init_pxf.html" format="markdown">Initializing PXF</a></li>
              <li><a href="/7-0/pxf/cfg_server.html" format="markdown">Configuring PXF Servers</a></li>
              <li class="has_submenu">
                <a href="/7-0/pxf/client_instcfg.html" format="markdown">Configuring PXF Hadoop Connectors (Optional)</a>
                <ul>
                  <li>
                    <a href="/7-0/pxf/pxfuserimpers.html">Configuring User Impersonation and Proxying</a>
                  </li>
                  <li>
                    <a href="/7-0/pxf/pxf_kerbhdfs.html" format="markdown">Configuring PXF for Secure HDFS</a>
                  </li>
                </ul>
              </li>
              <li><a href="/7-0/pxf/s3_objstore_cfg.html" format="markdown">Configuring Connectors to Minio and S3 Object Stores (Optional)</a> </li>
              <li><a href="/7-0/pxf/objstore_cfg.html" format="markdown">Configuring Connectors to Azure and Google Cloud Storage Object Stores (Optional)</a> </li>
              <li><a href="/7-0/pxf/jdbc_cfg.html" format="markdown">Configuring the JDBC Connector (Optional)</a> </li>
              <li><a href="/7-0/pxf/cfghostport.html" format="markdown">Configuring the PXF Agent Host and Port (Optional)</a> </li>
            </ul>
          </li>
          <li><a href="/7-0/pxf/upgrade_pxf_6x.html" format="markdown">Upgrading PXF</a></li>
          <li><a href="/7-0/pxf/cfginitstart_pxf.html" format="markdown">Starting, Stopping, and Restarting PXF</a></li>
          <li><a href="/7-0/pxf/using_pxf.html" format="markdown">Granting Users Access to PXF</a></li>
          <li><a href="/7-0/pxf/reg_jar_depend.html" format="markdown">Registering PXF JAR Dependencies</a></li>
          <li><a href="/7-0/pxf/monitor_pxf.html" format="markdown">Monitoring PXF</a></li>
        </ul>
      </li>
      <li class="has_submenu">
        <a href="/7-0/pxf/access_hdfs.html" format="markdown">Accessing Hadoop with PXF</a>
        <ul>
          <li><a href="/7-0/pxf/hdfs_text.html" format="markdown">Reading and Writing Text Data</a></li>
          <li><a href="/7-0/pxf/hdfs_avro.html" format="markdown">Reading Avro Data</a></li>
          <li><a href="/7-0/pxf/hdfs_json.html" format="markdown">Reading JSON Data</a></li>
          <li><a href="/7-0/pxf/hdfs_parquet.html" format="markdown">Reading and Writing Parquet Data</a></li>
          <li><a href="/7-0/pxf/hdfs_seqfile.html" format="markdown">Reading and Writing SequenceFile Data</a></li>
          <li><a href="/7-0/pxf/hdfs_fileasrow.html" format="markdown">Reading a Multi-Line Text File into a Single Table Row</a></li>
          <li><a href="/7-0/pxf/hive_pxf.html" format="markdown">Reading Hive Table Data</a></li>
          <li><a href="/7-0/pxf/hbase_pxf.html" format="markdown">Reading HBase Table Data</a></li>
        </ul>
      </li>
      <li class="has_submenu">
        <a href="/7-0/pxf/access_objstore.html" format="markdown">Accessing Azure, Google Cloud Storage, Minio, and S3 Object Stores with PXF</a>
        <ul>
          <li><a href="/7-0/pxf/access_s3.html" format="markdown">About Accessing the S3 Object Store</a></li>
          <li><a href="/7-0/pxf/objstore_text.html" format="markdown">Reading and Writing Text Data</a></li>
          <li><a href="/7-0/pxf/objstore_avro.html" format="markdown">Reading Avro Data</a></li>
          <li><a href="/7-0/pxf/objstore_json.html" format="markdown">Reading JSON Data</a></li>
          <li><a href="/7-0/pxf/objstore_parquet.html" format="markdown">Reading and Writing Parquet Data</a></li>
          <li><a href="/7-0/pxf/objstore_seqfile.html" format="markdown">Reading and Writing SequenceFile Data</a></li>
          <li><a href="/7-0/pxf/objstore_fileasrow.html" format="markdown">Reading a Multi-Line Text File into a Single Table Row</a></li>
          <li><a href="/7-0/pxf/read_s3_s3select.html" format="markdown">Reading CSV and Parquet Data From S3 Using S3 Select</a></li>
        </ul>
      </li>
      <li><a href="/7-0/pxf/jdbc_pxf.html" format="markdown">Accessing an SQL Database with PXF (JDBC)</a></li>
      <li><a href="/7-0/pxf/troubleshooting_pxf.html" format="markdown">Troubleshooting PXF</a></li>
      <li><a href="/7-0/pxf/migrate_5to6.html" format="markdown">Migrating PXF from Greenplum 5</a></li>
      <li class="has_submenu">
        <a href="/7-0/pxf/ref/pxf-ref.html" format="markdown">PXF Utility Reference</a>
        <ul>
          <li><a href="/7-0/pxf/ref/pxf-cluster.html" format="markdown">pxf cluster</a></li>
          <li><a href="/7-0/pxf/ref/pxf.html" format="markdown">pxf</a></li>
        </ul>
      </li>
      <!--li class="has_submenu">
        <a href="/7-0/pxf/sdk/dev_overview.html" format="markdown">Using the PXF Java SDK</a>
        <ul>
          <li>
            <a href="/7-0/pxf/sdk/dev_concepts.html" format="markdown">PXF Developer Concepts</a>
          </li>
          <li>
            <a href="/7-0/pxf/sdk/pxfapi.html" format="markdown">Introducing the PXF API</a>
          </li>
          <li>
            <a href="/7-0/pxf/sdk/build_conn.html" format="markdown">Building a Connector</a>
          </li>
          <li class="has_submenu">
            <a href="/7-0/pxf/sdk/deploy_conn.html" format="markdown">Deploying a Connector</a>
            <ul>
              <li>
            <a href="/7-0/pxf/sdk/deploy_profile.html" format="markdown">Deploying a Profile</a>
              </li>
            </ul>
          </li>
        </ul>
      </li-->
      <li>
         <a href="/7-0/admin_guide/external/pxf-overview.html" format="dita" scope="peer">Back to the Administrator Guide</a>
      </li>
    </ul>
  </div>
</div>
<!--end of sub-nav-->
