<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">  Doc Index</a>
  <div class="nav-content">
    <ul>
      <li>
        <a href="/7-0/homenav.html">Greenplum Database&reg; 7.0 Beta Documentation</a>
      </li>
      <li><span><hr></span></li>
      <li><strong>PXF Upgrade and Migration</strong></li>
      <li><a href="/7-0/pxf/upgrade_pxf_6x.html" format="markdown">Upgrading PXF When You Upgrade Greenplum 6</a></li>
      <li><a href="/7-0/pxf/migrate_5to6.html" format="markdown">Migrating PXF from Greenplum 5</a></li>
      <li><a href="/7-0/install_guide/upgrade_intro.html" format="dita" scope="peer">Back to the Install Guide</a></li>
    </ul>
  </div>
</div>
<!--end of sub-nav-->
