/constraints.sql
/copy.sql
/create_function_1.sql
/create_function_2.sql
/largeobject.sql
/misc.sql
/tablespace.sql

restore_restoredb.sql
sreh.sql
upg2.sql
gptokencheck.sql
loadcat33.sql
loadcat34.sql
bkuprestore_advance.sql
bkuprestore_cleanup.sql
caql.sql
aocs.sql
appendonly.sql
bkup_bkupdb.sql
mapred.sql
tidycat.sql
filespace.sql
upgrade.sql
auth_constraint.sql
catversion.sql
resource_queue_function.sql
table_functions.sql
tidycat2.sql
tpch500GB.sql
partindex_test.sql
external_table.sql
largeobject.sql
qp_gist_indexes2.sql
qp_regexp.sql
